//variables-------------------

$font: "Roboto", 'Lato', sans-serif;
$souBlue: #003979;
$souGray: #8f9092;


//mixins----------------------


//media------------------------

@media only screen and (max-width: 768px) { 

}



//other------------------------
/* --------------------
	  Home Page
   --------------------*/

.backgroundcontent {
  background-image: url("./souimages/winter.png");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  
  color: white;
  text-align: center;
  font-size: 4rem;
  padding: 5%;
  h3 {
  	font-size: 1rem;
	font-weight: 100;
  }
  h1, h3 {
  	display: block;
  }
  h1 {
  	letter-spacing: 1rem;
	font-weight: 400;
  }
}

.preview {
    padding: 2rem;
    justify-content: center;
	display: center;
	font-family: $font;
	text-align: center;
	display: block;
	.nonlist {
	  font-weight: 300;
	  padding-bottom: 1rem;
	}
	.list {
	  font-weight: 300;
	}
	h4 {
	  font-weight: 100;
	}
	a {
	  padding: 1rem;
	  font-weight: 100;
	  color: $souBlue;
	  border: 1px solid $souBlue;
	  border-radius: 25px;
	  transition: all 0.5s ease;
	  &:hover {
		color: white;
      	background: $souBlue;
		transition: all 0.5s ease;
      }
	}
	img {
	  padding-top: 1rem;
      display: block;
      margin: 0 auto;
    }
	h5 {
	  font-size: 2rem;
	}
	.last {
	  padding-bottom: 1rem;
	}
	.list {
	  font-weight: 300;
	}
}
